/* stylelint-disable unit-disallowed-list */
:root {
  --font-family: "Inter", "Noto Sans Arabic", sans-serif, serif;

  /* font weights */
  --font-weight-regular: 300;
  --font-weight-medium: 400;
  --font-weight-semibold: 500;

  /* font sizes */
  --font-size-36: 3.6rem;
  --font-size-32: 3.2rem;
  --font-size-28: 2.8rem;
  --font-size-24: 2.4rem;
  --font-size-20: 2rem;
  --font-size-18: 1.8rem;
  --font-size-16: 1.6rem;
  --font-size-15: 1.5rem;
  --font-size-14: 1.4rem;
  --font-size-13: 1.3rem;
  --font-size-12: 1.2rem;
  --font-size-11: 1.1rem;
  --font-size-10: 1rem;

  /* Line height */
  --line-height-mega: 1.28;
  --line-height-h1: 1.31;
  --line-height-h2: 1.29;
  --line-height-h3: 1.33;
  --line-height-h4: 1.5;
  --line-height-h5: 1.56;
  --line-height-h6: 1.63;
  --line-height-baseplus: 1.47;
  --line-height-base: 1.57;
  --line-height-smallplus: 1.54;
  --line-height-small: 1.67;
  --line-height-tiny: 1.64;
  --line-height-micro: 1.2;

  /* Letter spacing */
  --letter-spacing-mega: -1.2px;
  --letter-spacing-h1: -1px;
  --letter-spacing-h2: -0.96px;
  --letter-spacing-h3: -0.56px;
  --letter-spacing-h4: -0.5px;
  --letter-spacing-h5: -0.3px;
  --letter-spacing-h6: -0.2px;
  --letter-spacing-baseplus: 0.01px;
  --letter-spacing-base: 0px;
  --letter-spacing-smallplus: 0px;
  --letter-spacing-small: normal;
  --letter-spacing-tiny: normal;
  --letter-spacing-micro: normal;
}
